.button {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  font-size: 14px;
  line-height: 15px;
  font-weight: 500;
  border-radius: 3px;
  letter-spacing: 0.7px;
}

.button:disabled {
  cursor: default;
}

.button:focus {
  outline: none;
}