.content {
  height: 100%;
  .regPage {
    height: 1150px;
    background-size: 100%;
    background-color: #b324e2;
    background-repeat: no-repeat;
    background-image: url("https://www.mentorcliq.com/hubfs/lpm-mq-web-assets/imgs/bkgs/bkg-capterra-hero-tablet-ptt.jpg");
  }
}